.overlay_dialog {
	background-color: #666666;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.overlay___invisible__ {
  background-color: #666666;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

.dialog_nw {
	width: 10px;
	height: 20px;
	background: transparent url(taskboard/Edit_Task_nw_0.gif) no-repeat 0 0;		
}

.dialog_n {
	background: transparent url(taskboard/Edit_Task_n_0.gif) repeat-x 0 0;	
	height: 20px;
}

.dialog_ne {
	width: 10px;
	height: 20px;
	background: transparent url(taskboard/Edit_Task_ne_0.gif) no-repeat 0 0;		
}

.dialog_e {
	width: 2px;
	background: transparent url(taskboard/Edit_Task_e_0.gif) repeat-y 0 0;	
}

.dialog_w {
	width: 2px;
	background: transparent url(taskboard/Edit_Task_w_0.gif) repeat-y 0 0;		
}

.dialog_sw {
	width: 10px;
	height: 20px;
	background: transparent url(taskboard/Edit_Task_sw_0.gif) no-repeat 0 0;			
}

.dialog_s {
	background: transparent url(taskboard/Edit_Task_s_0.gif) repeat-x 0 0;		
	height: 2px;
}

.dialog_se {
	width: 10px;
	height: 20px;
	background: transparent url(taskboard/Edit_Task_se_0.gif) no-repeat 0 0;			
}

.dialog_sizer {
	width: 9px;
	height: 19px;
	background: transparent url(default/sizer.gif) no-repeat 0 0;	
	cursor:se-resize;	
}

.dialog_close {
	width: 14px;
	height: 14px;
	background: transparent url(taskboard/Close_box_12p.gif) no-repeat 0 0;			
	position:absolute;
	top: 5px;
	right: 12px;
	cursor:pointer;
	z-index:2000;
    color: white;
}

.dialog_minimize {
	width: 14px;
	height: 15px;
	background: transparent url(default/minimize.gif) no-repeat 0 0;			
	position:absolute;
	top:5px;
	left:28px;
	cursor:pointer;
	z-index:2000;
}

.dialog_maximize {
	width: 14px;
	height: 15px;
	background: transparent url(default/maximize.gif) no-repeat 0 0;			
	position:absolute;
	top:5px;
	left:49px;
	cursor:pointer;
	z-index:2000;
}

.dialog_title {
	float:left;
	height:14px;
	font-family: Tahoma, Arial, sans-serif;
	font-size:12px;
	text-align:center;
	width:95%;
	color:white;
   overflow: hidden;
}

.dialog_content {
	overflow:auto;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 10px;
	color: black;
	background-color:white;
}

.top_draggable, .bottom_draggable {
  cursor:move;
}

.status_bar {
  font-size:12px;
}
.status_bar input{
  font-size:12px;
}

.wired_frame {
	display: block;
  position: absolute;
  border: 1px #000 dashed;
}

/* DO NOT CHANGE THESE VALUES*/
.dialog {
	display: block;
	position: absolute;
    background-color: gray;
}

.dialog table.table_window  { 
  border-collapse: collapse; 
  border-spacing: 0; 
  width: 100%;
	margin: 0px;
	padding:0px;
}

.dialog table.table_window td , .dialog table.table_window th { 
  padding: 0; 
}

.dialog .title_window {
  -moz-user-select:none;
}
.taskmenu_list {border:1px solid #888888;background-color:#ffffff;position:absolute;z-index:3; left:157px;top:30px;width:90px;}
.taskmenu_list .taskmenu_item {padding: 2px;cursor:pointer;}
.taskmenu_list .taskmenu_item:hover {background-color:#cccccc;}